<% include ../partials/header %>

<!--<div class="container">-->
    <h1 style="text-align: center">Add a Notice for Your Viewers</h1>
    <div class="row">
        <div style="width:40%; margin: 25px auto;">
    
    
            <form action="/registry/<%= youtuber._id %>/notice/<%= notice._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input class="form-control" type="text" name="notice[title]" id="title" value="<%= notice.title %>">
                </div>
                <div class="form-group">
                    <label for="link">Link</label>
                    <input class="form-control" type="text" name="notice[link]" id="link" value="<%= notice.link %>">
                </div>
                <div class="form-group">
                    <label for="linkLabel">LinkLabel</label>
                    <input class="form-control" type="text" name="notice[linkLabel]" id="linkLabel" value="<%= notice.linkLabel %>">
                </div>
                <div class="form-group">
                    <label for="content">Content</label>
                    <textarea class="form-control" type="text" name="notice[content]" id="content" rows="15"><%= notice.content %></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Save!</button>
                </div>
                
                
                
                </form>
                <p><a href = "/registry/<%= youtuber._id %>">Go Back</a></p>
        </div>
        
        
    </div>
<!--</div>-->
    
<% include ../partials/footer %>